body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

#camera-preview {
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: none;
}

#camera {
    width: 100%;
    height: auto;
}
